{{!#if done}}
<div class="scroll-container fixed-container" id="patient_dashboard_table"></div>
{{!else}}
<!--div class="loading-indicator">
  <img alt="Loading" src="/assets/loading.gif">
  <div class="loading-text">loading</div>
</div-->
{{!/if}}
