<div class="panel">
  <p>This is the grand ol' patient bank</p>
</div>

<div class="row">

  <div class="col-sm-4">
    logic
    {{!-- logic --}}
  </div>

  <div class="col-sm-8">
    <h1>Filters</h1>
    Filters
    <h1>Results</h1>

    {{#collection class="patient-results"}}
      <div class="shared-patient">
        <input type="checkbox" name="pickMe" class="patient-checkbox">
        <i class="fa fa-user patient-user-icon"></i> 
        <label for="pickMe" class="patient-name">
        {{last}} {{first}}
        </label>
      </div>
    {{/collection}}
  </div>

</div>
