.patient-results {
  .content-columns(2,@grid-gutter-width/2);
  .shared-patient {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
  }
}

.shared-patient {
  // TODO decide if these really need to be on a grid?
  // also, there's already a 'patient-user-icon-col' and a 'patient-name-col', we should probably unclutter these a bit.
  .patient-checkbox {
    .make-sm-column(1);
    padding: 0;
  }

  .patient-user-icon {
    .make-sm-column(1);
    padding: 0;
  }

  .patient-name {
    .make-sm-column(10);
    font-weight: normal;
    padding: 0;
  }

}

// base custom dropdown
.bank-dropdown-container {
  width: 100%;
  padding-bottom: 20px;
  & .selectboxit-option { text-indent: 8px; }
  & .bank-dropdown-button { width: 100%; }
}

.bank-dropdown-list {
  top: 0px !important;
  & .selectboxit-option-first, .selectboxit-option-last {
    border-radius: 0px;
  }
}

.bank-dropdown-focus {
  background-color: @brand-primary;
  &.selectboxit-open { 
    background: white; 
    border-color: @brand-primary; 
   }
  & .selectboxit-option-anchor { color: inherit; }
}

.bank-dropdown-button > .selectboxit-arrow-container {
  background-color: @brand-primary;
  color: white;
  text-align: center;
  height: 100%;
  &:before {
    content: @fa-var-sort;
    font-family: FontAwesome;
  }
}

.bank-dropdown-list, .bank-dropdown-button {
  border:  3px solid @brand-primary; 
  border-radius: 0px !important;
  background-color: white; 
}

.bank-measure-dropdown-container {
  &:extend(.bank-dropdown-container all);
  & * {
    font-size: 18px;
    font-weight: bold;
  }
  & .bank-dropdown-list, .bank-dropdown-button {
    border:  none; 
    background-color: @gray-lighter;
   
  }
}