.scroll-container {
  width: 100%;
  height: 750px;
  margin: 1rem 0 1rem;
  overflow: hidden;
}

/* coloring population headers */
/* the handsontable.bootstrap file is stupid and has !important so we need to use it also to override */
td.basic {
  background-color: #fff !important;
}
tr:first-child td.header.ipp {
  background-color: #ddeeee !important;
}
tr:first-child td.header.denom {
  background-color: #eeddee !important;
}
tr:first-child td.header.numer {
  background-color: #aaeedd !important;
}
tr:first-child td.header.denex {
  background-color: #eeeedd !important;
}
tr:first-child td.header.numex {
  background-color: #aaeeee !important;
}
tr:first-child td.header.denexcep {
  background-color: #ddeedd !important;
}

/* detail expand/hide */
tr.expandable-hidden {
  display:none;
}

/* header styling */
td.header {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

td > div.tableScrollContainer {
  padding: 0px;
  position: relative;
  height: 150px;
}

td > div > div.tableScroll {
  padding:8px;
  max-height:134px;
  overflow-y:auto;
  position:absolute;
  bottom: 0;
  left: 0;
}

/* population header styling so text is vertical */
td.rotate {
  font-size: 90%;
  height: 60px;
  width: 40px;
}

td.rotate > div {
  transform:
    translate(-35px, 80px) /* magic numbers to get the text placement correct */
    rotate(-90deg);
  width: 80px;
}

/* basic cell styling. keeping in div because can managing text overflow more easily */
td > div {
  height: 20px;
  padding: 8px;
  overflow: hidden;
}
